body{
  background-color: rgb(18, 11, 16);
  cursor: default;
}
.kehli{
  font-size: x-large;
  display: flex;
  justify-content: center;
  background-color: antiquewhite;
}
h4{
  border: solid ;
  
}

.music{
  background-color: aliceblue;
}

h1{
  background-color: rgb(174, 194, 212);
}

h3{
  background-color: white ;
}

h3 :hover{
  display: flex;
  justify-content: flex-end;
  
  

}
.search-area{
  display: flex;
  margin: 0;
  padding: 0;
  border:2px solid red;
  border: none;
  justify-content: space-evenly;
  align-items: center;
  background-color: ;
}
.search-area h4{
background-color: blue;
color: white;
padding-left: 1rem;
padding-right: 1rem;
cursor: pointer;
}
.search-area h4:hover{
  background-color:wheat;
  color:blue;
}
input{
  width: 80%;
  border-radius: px;
  height: 100%;
}
.peace{
  display: flex;
  justify-content: ;

}
h5{
  background-color: red;
backgr;
}
.peace- h3{
  display: block;
  justify-content: right;
}

.music h5{
display: flex;
justify-content: center;

}

  
#ip{
  display: flex;
  border: 2px solid blue;
  justify-content: center;
}
@media() {
  
}
img{
  width: 300px;
  height: 100; 

}

li{
  border: 2px solid blue;
  display: flex;
  justify-content: center;
  background-color: rgb(79, 104, 73);
}



.text{
  display: flex;
  justify-content: center;
}

ul{

display: flex;
justify-content: center;
justify-items: center;
height: 100px;

color: rgb(11, 11, 233);

}

.box{
  background-color: rgb(67, 67, 130);
  color: aliceblue;
  height: 100px;
  width: 200px;
}

.box{
  display: flex;
  justify-content: center;
  align-items: center;
}

p{
  color: aliceblue;
}

div h4{
  border: 2px solid red
  
  


}

h4{
color: aliceblue;
display: flex;

}

.h3{
  border:  ;
  height: 80px;
  color: rgb(231, 190, 136);
}

.h3{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
align-content: end;
align-items: flex-end;
}

.ut{
  color: rgb(152, 115, 78);
 ;
  height: 150px;
  display: flex;
 justify-content: center;
 align-content: center;
 align-items: center;


}

.ut{
 
  
  display:flex ;
  justify-content: center;
}

.act{
  color: antiquewhite;
  display:block;
  
  justify-content: flex-end;

  border: 2px solid;
  height: 150px;
}







.act div:hover{
  background-color: rgb(72, 57, 57);
  color: blueviolet;
}

.instagram{
  color: rgb(133, 105, 62);
 
  height:80px;
  display: flex;
  justify-content: center;

}

.instagram:hover{
 color: blue;
cursor: default
  

}

figure{
  color: aliceblue

}

#reload{
  border: ;
  display: grid;
  justify-content: end;
 
}
  
a{
  color: blueviolet;
}

#life{
  display: grid;

  text-align: center;
}

#life{
   
  border: ;
  color: rgb(81, 57, 21);
}

#gosple{
  font-style: italic;
  font-weight: bold;
  text-decoration: underline;
}
